* {
    box-sizing: border-box;
}
body {
    margin: 0;
}


:root {
    --height: 90vh;
}
.all {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

.skill {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center; 
    background-color: darkkhaki;
    flex-direction: column;
}


.skill button {
    display: none;
    margin-bottom: 50%;
    background-color: white;
    border: 1px solid black;
    padding:  .25em .5em;
    cursor: pointer;
}

.skill button.show {
    display: flex;
}

.skill button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.chat {
    width: 20%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: greenyellow;
}


.table {
    display: flex;
    width: 70vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f1b06c;
}
.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-right: -100%;
    z-index: 100;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(15, 6vh);
    grid-template-rows: repeat(15, 6vh);
    
}

.grid.x .griditem:not(.x):not(.o):hover {
    content: '';
    width: 80%;
    height: 80%;
    background-color:black;
    border-radius: 50%;
}

.grid.o .griditem:not(.x):not(.o):hover {
    
    content: '';
    width: 80%;
    height: 80%;
    background-color:white;
    border-radius: 50%;
}

.griditem {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 12.5%;
    cursor: pointer;

}


.lines {
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(14, 6vh);
    grid-template-rows: repeat(14, 6vh);
    
}

.line {
    width:100%;
    height:100%;
    border: 1px solid black;
}

/*screen for phone*/
@media only screen and (max-width: 912px) {
    .all {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .skill {
        width: 100%;
        height: 10%;
        background-color: darkkhaki;
        display: flex;
        flex-direction: row;
    
    }
    
    .skill button {
        display: none;
        background-color: white;
        border: 1px solid black;
        padding:  .25em .5em;
        cursor: pointer;
        margin-bottom: 0%;
        margin-left: 10%;
    }
    
    .chat {
        width: 100%;
        height: 20%;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        background-color: greenyellow;
    }
    .table {
        display: flex;
        width: 100vw;
        height: 70vh;
        justify-content: center;
        align-items: center;
        background-color: #f1b06c;
    }
    .grid {
        display: grid;
        justify-content: center;
        align-content: center;
        margin-right: -100%;
        z-index: 100;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(15, 6vw);
        grid-template-rows: repeat(15, 6vw);
       
    }
    .lines {
        display: grid;
        justify-content: center;
        align-content: center;
        z-index: 0;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(14, 6vw);
        grid-template-rows: repeat(14, 6vw);
        
    }

}



.griditem.x {
    content: '';
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 50%;
    cursor: not-allowed;
}

.griditem.o {
    content: '';
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
    cursor: not-allowed;
}

.curtain {
    position: relative;
    margin-top: -100vh;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
}

.curtain.show {
    display: flex;
}

.winning-message {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center; 
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding:  .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}